.s404 {
    font-family: JostB;
    font-size: 9vw;
    text-align: center;
}

.s405 {
    font-family: JostB;
    font-size: 1.5vw;
    text-align: center;
    margin-top: -2vw;
}

.er {
    margin-top: 15vw;
}