.section2_33_1 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 35vw;
    font-family: MMMR;
}

.section2_33_2 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 30vw;
    font-family: MMMR;
}

.section2_33_3 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 30vw;
    font-family: MMMR;
}

.section2_33_4 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 50vw;
    font-family: MMMR;
}

.section2_33_5 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 60vw;
    font-family: MMMR;
}

.section2_33_6 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 30vw;
    font-family: MMMR;
}

.section2_33_7 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 48vw;
    font-family: MMMR;
}

.section2_33_8 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 38vw;
    font-family: MMMR;
}

.section2_33_9 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 30vw;
    font-family: MMMR;
}

.section2_33_10 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 38vw;
    font-family: MMMR;
}

.section2_33_11 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 85vw;
    font-family: MMMR;
}

.section2_33_12 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 40vw;
    font-family: MMMR;
}

.section2_33_13 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 55vw;
    font-family: MMMR;
}

.section2_33_14 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 35vw;
    font-family: MMMR;
}

.section2_33_15 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 30vw;
    font-family: MMMR;
}

.section2_33_16 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 35vw;
    font-family: MMMR;
}

.section2_33_17 {
    margin-left: 32vw; /* ширина бокового меню + отступ */
    padding: 2vw;
    width: 60vw;
    height: 40vw;
    font-family: MMMR;
}

.xx1_1 {
    margin-left: 15vw;
    font-family: MMMB;
    font-size: 1.5vw;
}

.xx1_2 {
    margin-top: -2.2vw;
}

.xx1_21 {
    margin-top: -2.2vw;
    width: 12vw;
}

.xx1_3 {
    width: 45vw;
    margin-left: 15vw;
    margin-top: -12vw;
    font-family: MMMR;
    line-height: 1.5vw;
    font-size: 1vw;
}

.xxxx4 {
    position: absolute;
    margin-top: -21vw;
    line-height: 1.7vw;
    font-family: MMMR;
    font-size: 1vw;
    text-decoration: none;
}

.oo1_1 {

}

.oo1_2

.oo1_3 {
    position: absolute;
    font-family: MMMB;
    font-size: 1.5vw;
}

.oo1_4 {
    text-decoration: none;
}

.oo1_5 {
    text-decoration: none;
}