/* audience menu */

.menu_2 {
    position: fixed;
    width: 14vw;
    height: 50vw;
    background-color:  #ECECEC;
    margin-top: 10vw;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
  }
  
  .sidebar ul li {
    padding: 0 0 0 0;
  }
  
  .sidebar ul li a {
    color:  #141414;
    padding: 0 0 0 0;
    font-family: JostM;
    font-size: 8vw;
    text-decoration: none;
    pointer-events: none;
  }
  
  .content {
    margin-left: 22vw; /* ширина бокового меню + отступ */
    padding: 2vw;
  }


  .screen_contact {
    position: absolute;
    margin-top: 12vw;
 }

 .screen_kassa {
    position: absolute;
    margin-top: 12vw;
 }

 .screen_operators {
    position: absolute;
    margin-top: 12vw;
 }

 .screen_pk {
    position: absolute;
    margin-top: 12vw;
 }

 .screen_rules_buy {
    position: absolute;
    margin-top: 12vw;
 }

 .screen_rules_pos {
    position: absolute;
    margin-top: 12vw;
 }

 .screen_schemes2 {
    position: absolute;
    margin-top: 12vw;
 }

 .screen_svo {
    position: absolute;
    margin-top: 12vw;
 }