/* Menu code starts here */

#menuToggle2 {
    display: block;
    position: fixed;
    top: 2.5vw;
    left: 2vw;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
  
#menuToggle2 a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}
  
#menuToggle2 a:hover {
    color: rgb(85, 35, 27);
}
  
  
#menuToggle2 input {
    display: block;
    width: 4vw;
    height: 3.2vw;
    position: absolute;
    top: -0.7vw;
    left: -0.5vw;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
  
#menuToggle2 span {
    display: block;
    width: 2.5vw;
    height: 0.25vw;
    margin-bottom: 0.25vw;
    position: relative; 
    background: #191919;
    border-radius: 0.3vw;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
  
#menuToggle2 span:first-child {
    transform-origin: 0% 0%;
}
  
#menuToggle2 span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
  
#menuToggle2 input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle2 input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle2 input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle2 input:checked ~ ul {
    transform: none;
}

/* first screen 2 */

.screen1_2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.h1_2 {
    position: absolute;
    padding: 0 0 0 0;
    font-family: JostM;
    font-size: 1.1vw;
    color: #202020;
    text-decoration: none;
    margin-top: 2.3vw;
    margin-left: 7.5vw;
}

.h2_2 {
    position: absolute;
    padding: 0 0 0 0;
    font-family: JostM;
    font-size: 1.1vw;
    color: #202020;
    text-decoration: none;
    margin-top: 2.3vw;
    margin-left: 17.9vw;
}

.btm3_fs2 {
    position: absolute;
    
}

.logo_2 {
    position: absolute;
    margin-left: 43vw;
    margin-top: 1vw;
}

.logo1_2 {
    position: absolute;
    width: 14vw;
}

.h3_2 {
    position: absolute;
    padding: 0 0 0 0;
    font-family: JostM;
    font-size: 1.1vw;
    color: #202020;
    text-decoration: none;
    margin-top: 2.3vw;
    margin-left: 77.8vw;
}

.h4_2 {
    position: absolute;
    padding: 0 0 0 0;
    font-family: JostM;
    font-size: 1.1vw;
    color: #202020;
    text-decoration: none;
    margin-top: 2.3vw;
    margin-left: 87.2vw;
}

.btm6_fs2 {
    position: absolute;
    padding: 0 0 0 0;
    margin-left: 95.7vw;
    margin-top: 2.4vw;
}

.eye2 {
    position: absolute;
    width: 1.9vw;
}

.screen2_2 {
    position: absolute;
    margin-top: 10vw;
}
