@font-face {
    font-family: "AlaRuss";
    src: url("../font/alaruss.ttf") format("truetype");
    font-size: 63px;
  }
  
  @font-face {
    font-family: "JostSB";
    src: url("../font/jost-semibold.ttf") format("truetype");
    font-size: 63px;
  }

  @font-face {
    font-family: "JostM";
    src: url("../font/jost-medium.ttf") format("truetype");
    font-size: 63px;
  }
  
  @font-face {
    font-family: "JostR";
    src: url("../font/jost-semibold.ttf") format("truetype");
    font-size: 63px;
  }